.board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  cursor: pointer;
  position: relative;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;

}
body h1 {
  font-family: 'Geostar Fill', cursive;
  font-size: 43px;
  color: limegreen
}
.cell {
  color: greenyellow;
  font-size: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mochiy Pop P One', sans-serif;
}
.right-border {
  border-right: 0.2em solid limegreen;
}
.bottom-border {
  border-bottom: 0.2em solid limegreen;
}
.strike {
  position: absolute;
  background-color: red;
}
.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 15%;
}
.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 48%;
}
.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 83%;
}
.strike-column-1 {
  height: 100%;
  width: 4px;
  left: 15%;
}
.strike-column-2 {
  height: 100%;
  width: 4px;
  left: 48%;
}
.strike-column-3 {
  height: 100%;
  width: 4px;
  left: 83%;
}
.strike-diagonal-1 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(45deg);
}
.strike-diagonal-2 {
  width: 85%;
  height: 4px;
  top: 50%;
  left: 5%;
  transform: skewY(-45deg);
}
#game-over-area {
  border-radius: 75px;
  text-align: center;
  border: indigo 8px solid;
  padding: 50px;
  width: 50%;
  max-width: 250px;
  margin-top: 50px;
}
h2 {
  color: greenyellow;
  font-size: 2em;
  margin-top: 0px;
}
button {
  border-radius: 25px;
  background-color: transparent;
  color: greenyellow;
  border: greenyellow 1px solid;
  padding: 10px;
  font-size: 1.5em;
  cursor: pointer;
}
button:hover {
  background-color: grey;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.x-hover:hover::after {
  content: "X";
  opacity: 0.4;
}
.o-hover:hover::after {
  content: "O";
  opacity: 0.4;
}
